<div class="row" ng-controller="AdController">
   <div class="col-xs-12">
         <div class="title">广告管理
            <button class="btn btn-danger" style="border-radius: 30px;float: right;padding: 3px 16px;" ng-click="ad(0)">
                  <i class="fa fa-plus"></i>
                  新增广告
            </button>
         </div>
   </div>
   <div class="col-xs-12">
         <table class="bgTable bg-white">
               <thead>
                     <tr>
                           <th>广告ID</th>
                           <th>产品名称</th>
                           <th>图片</th>
                           <th>跳转地址</th>
                           <th>生效时间</th>
                           <th>结束时间</th>
                           <th>操作</th>
                     </tr>
               </thead>
               <tbody>
                     <tr ng-repeat="d in data">
                           <td ng-bind="d.ad_id"></td>
                           <td ng-bind="d.name"></td>
                           <td>
                               <img ng-src="{{ rootImgUrl + d.img }}" class="header" alt="广告图">
                           </td>
                           <td><a ng-href="{{ d.link }}" target="_blank">{{ d.link }}</a></td>
                           <td ng-bind="d.begin_time * 1000 | date: 'yyyy-MM-dd hh:ii'"></td>
                           <td ng-bind="d.end_time * 1000 | date: 'yyyy-MM-dd hh:ii'"></td>
                           <td>
                               <a href="" ng-click="ad(2, d.ad_id)" style="margin-right: 15px;" title="查看"><i class="fa fa-eye"></i></a>
                               <a href="" ng-click="ad(1, d.ad_id)" style="margin-right: 15px;" title="编辑"><i class="fa fa-edit"></i></a>
                               <a href="" ng-click="ad(3, d.ad_id)" title="删除"><i class="fa fa-trash"></i></a>
                           </td>
                     </tr>
               </tbody>
         </table>
   </div>
</div>