<div class="row" ng-controller="LotteryHistoryController">
   <div class="col-xs-12">
         <div class="title">
            <a ui-sref="app.homePage">首页</a> > 
            <span issue expect="{{ data.lottery_data.expect }}" lottery-name="{{ data.lottery_data.lottery_name }}"></span>
            开奖记录
            <span style="margin-left: 50px;">彩种：</span>
            <div select-lottery lottery-name="{{ data.lottery_data.lottery_name }}" lottery-list="lotteryList" get-data="getLotteryHistory()"></div>
         </div>
   </div>
   <div class="col-xs-12">
         <table class="bgTable bg-white">
               <thead>
                     <tr>
                           <th>记录id</th>
                           <th>期次</th>
                           <th>开奖时间</th>
                           <th>开奖号码</th>
                           <th>购买金额</th>
                           <th>中奖金额</th>
                           <th>操作</th>
                     </tr>
               </thead>
               <tbody>
                     <tr ng-repeat="d in data.mod_data">
                           <td ng-bind="d.record_id"></td>
                           <td ng-bind="d.expect"></td>
                           <td ng-bind="d.opentime * 1000 | date: 'yyyy-MM-dd hh:ss'"></td>
                           <td ng-bind="d.opencode" style="color: #EA5A5A"></td>
                           <td ng-bind="d.buy_score"></td>
                           <td ng-bind="d.issue_score"></td>
                           <td><a ng-click="goLotteryDetails(d.expect, data.lottery_data.lottery_code)">详情</a></td>
                     </tr>
                     <tr>
                           <td colspan="7">
                                 <div paging total-page="totalpage" current-page="currentPage" get-data="getLotteryHistory(currentPage)"></div>
                           </td>
                     </tr>
               </tbody>
         </table>
   </div>
</div>