<div class="title">
    <a ui-sref="app.homePage">首页</a> > 
    <span>双色球</span>
</div>
<div class="row">
   <div class="col-xs-12">
         <div class="panel panel-set">
             <p class="p-title">双色球信息配置</p>
             <ul class="panel-ul clearfix">
                 <li>是否可购买：<span>是</span></li>
                 <li>开奖时间：<span>每周二、四、日 22:00</span></li>
                 <li>投注截止时间：<span>开奖前十分钟</span></li>
                 <li><a href="">修改</a></li>
             </ul>
         </div>
         <div class="panel panel-set">
             <p class="p-title">开奖信息</p>
             <ul class="panel-ul clearfix">
                 <li>期数：<span>2018554</span></li>
                 <li>开奖时间：<span>周二（明天22:00）</span></li>
                 <li>状态：<span>待开</span></li>
                 <li><button class="btn btn-danger">手动开奖</button></li>
             </ul>
             <table class="bgTable bg-white" style="margin-top: 50px;">
               <tbody class="ball-details">
                    <tr>
                        <td colspan="2">
                            <p class="ball-details-title">开奖记录</p>
                        </td>
                    </tr>
                    <tr class="winningUser">
                        <td colspan="2">
                            <table class="bgTable">
                                <thead>
                                    <tr>
                                        <th>期数</th>
                                        <th>开奖时间</th>
                                        <th>开奖号码</th>
                                        <th>头奖奖金</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>一等奖</td>
                                        <td>6</td>
                                        <td>124545</td>
                                        <td>一等奖</td>
                                        <td>6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
               </tbody>
             </table>
         </div>
   </div>
</div>