<div class="row" ng-controller="ShareListController">
   <div class="col-xs-12">
       <div class="title">
            <a ui-sref="app.userList">用户列表</a> > 
            <span  class="title" ng-bind="data.userInfo.nickname + ' 分享详情'"></span>
       </div>
   </div>
   <div class="col-xs-12">
         <table class="bgTable bg-white">
               <thead>
                     <tr>
                           <th>分享ID</th>
                           <th>分享方式</th>
                           <th>分享内容</th>
                           <th>分享时间</th>
                     </tr>
               </thead>
               <tbody>
                     <tr ng-repeat="d in data.mod_data">
                           <td ng-bind="d.log_id"></td>
                           <td>
                                 <span ng-show="d.share_type == 1">微信好友</span>
                                 <span ng-show="d.share_type == 2">微信朋友圈</span>
                                 <span ng-show="d.share_type == 3">QQ好友</span>
                                 <span ng-show="d.share_type == 4">QQ空间</span>
                                 <span ng-show="d.share_type == 5">微博</span>
                           </td>
                           <td ng-bind="d.content"></td>
                           <td ng-bind="d.share_time * 1000 | date: 'yyyy-MM-dd hh:mm'"></td>      
                     </tr>
                     <tr>
                           <td colspan="4">
                                 <div paging total-page="data.page_data.totalpage" current-page="currentPage" get-data="getData(currentPage)"></div>
                           </td>
                     </tr>
               </tbody>
         </table>
   </div>
</div>