<div class="row" ng-controller="SystemController">
   <div class="col-xs-12" ng-repeat-start="d in data">
       <div class="title" ng-bind="d.group"></div>
   </div>
   <div class="col-xs-12">
         <div class="panel panel-set">
             <div class="row" ng-repeat="dv in d.val">
                 <div class="col-xs-3 set-title" ng-bind="dv.name"></div>
                 <div class="col-xs-9">
                     <div input-auto-submit val="dv.val" key="{{ dv.key }}" means="set()"></div>
                 </div>
             </div>
         </div>
   </div>
   <span ng-repeat-end></span>
</div>